* {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family:TheSans ;
  }
  
  @font-face {
    font-family: TheSans;
    src: url(FONT/TheSans-Bold.otf);
  }
  
  .logo {
    width: 13%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .title1 {
    margin: 20px auto;
    font-size: 70px;
    background:linear-gradient(90deg,#5dba07,#0aafe3);
    width: 38%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  a>i {
    font-size: 50px;
    padding: 10px;
    margin-right:40px ;
    margin-left:40px ;
    color: #5dba07;
    width:60px;
    height: 60px;
    background-color: #e8fcd5;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  a>i:hover {
    background-color: #0aafe3;
    font-size: 50px;
    padding: 10px;
  
    color: white;
    transition: 0.8s ease-in-out;
    margin-bottom: 20px;
  }
  
  .wave {
    width: 100%;
  }
  
  main {
    background-color: #5dba07;
    position: relative;
    bottom: 10px;
  }
  
  .g {
    width: 20%;
    margin: 0 auto;
    display:block;
  }
  
  .g2 {
    font-size: 70px;
    margin: 20px;
    color: white;
  }
  
  
  canvas {
    margin: 70px;
    border: 30px solid white;
  }
  
  #name {
    border: 5px solid #0aafe3;
    width: 800px;
    height: 80px;
    border-radius: 15px;
    display:block ;
    margin: 0px auto;
    font-size: 25px;
  }
  
  #Download {
    margin-top: 30px;
    width: 180px;
    height: 40px;
    margin-left:20px ;
    margin-right: 20px;
    border: 5px solid #0aafe3;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 100px;
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 50px auto;
  }
  
  .footer {
    background-color: #0aafe3;
    padding: 40px;
    color: white;
  }
  
  @media screen and (min-width:1400px) and (max-width:1600px) {
  
    .logo {
      width: 14%;
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .title1 {
      margin: 20px auto;
      font-size: 80px;
      background:linear-gradient(90deg,#5dba07,#0aafe3);
      width: 55%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    a>i {
      font-size: 60px;
      padding: 10px;
      margin-right:40px ;
      margin-left:40px ;
      color: #5dba07;
      width:70px;
      height: 70px;
      background-color: #e8fcd5;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    
    a>i:hover {
      background-color: #0aafe3;
      font-size: 60px;
      padding: 10px;
    
      color: white;
      transition: 0.8s ease-in-out;
      margin-bottom: 20px;
    }

    canvas {
        width: 68%;
        margin: 70px;
        border: 30px solid white;
      }

    #name {
        border: 5px solid #0aafe3;
        width: 1000px;
        height: 100px;
        border-radius: 15px;
        display:block ;
        margin: 0px auto;
        font-size: 35px;
      }
  
    .footer {
      background-color: #0aafe3;
      padding: 40px;
      color: white;
      font-size: 20px;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1399px) {
  
    .logo {
      width: 18%;
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .title1 {
      margin: 20px auto;
      font-size: 70px;
      background:linear-gradient(90deg,#5dba07,#0aafe3);
      width: 70%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    a>i {
      font-size: 60px;
      padding: 10px;
      margin-right:60px ;
      margin-left:60px ;
      color: #5dba07;
      width:70px;
      height: 70px;
      background-color: #e8fcd5;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    
    a>i:hover {
      background-color: #0aafe3;
      font-size: 60px;
      padding: 10px;
    
      color: white;
      transition: 0.8s ease-in-out;
      margin-bottom: 20px;
    }

    .g {
        width: 25%;
        margin: 0 auto;
        display:block;
      }
      
      .g2 {
        font-size: 55px;
        margin: 20px;
        color: white;
      }

    canvas {
        width: 70%;
        margin: 70px;
        border: 20px solid white;
      }

    #name {
        border: 5px solid #0aafe3;
        width: 720px;
        height: 70px;
        border-radius: 15px;
        display:block ;
        margin: 0px auto;
        font-size: 25px;
      }
  
    .footer {
      background-color: #0aafe3;
      padding: 40px;
      color: white;
      font-size: 16px;
    }
  }
  
  @media screen and (min-width:700px) and (max-width:999px) {

    .logo {
      width: 25%;
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .title1 {
      margin: 20px auto;
      font-size: 60px;
      background:linear-gradient(90deg,#5dba07,#0aafe3);
      width: 80%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    a>i {
      font-size: 40px;
      padding: 10px;
      margin-right:50px ;
      margin-left:50px ;
      color: #5dba07;
      width:50px;
      height: 50px;
      background-color: #e8fcd5;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    
    a>i:hover {
      background-color: #0aafe3;
      font-size: 40px;
      padding: 10px;
    
      color: white;
      transition: 0.8s ease-in-out;
      margin-bottom: 20px;
    }
  
    .g {
      width: 30%;
      margin: 0 auto;
      display:block;
    }
    
    .g2 {
      font-size: 40px;
      margin: 20px;
      color: white;
    }
  
    canvas {
      width: 80%;
      margin: 70px auto;
      border: 20px solid white;
    }

    #name {
        border: 5px solid #0aafe3;
        width: 590px;
        height: 70px;
        border-radius: 15px;
        display:block ;
        margin: 0px auto;
        font-size: 23px;
      }
  
    .footer {
      background-color: #0aafe3;
      padding: 40px;
      color: white;
      font-size: 13px;
    }
  }

  @media screen and (min-width:500px) and (max-width:700px) {

    .logo {
      width: 27%;
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .title1 {
      margin: 20px auto;
      font-size: 45px;
      background:linear-gradient(90deg,#5dba07,#0aafe3);
      width: 85%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    a>i {
      font-size: 30px;
      padding: 10px;
      margin-right:40px ;
      margin-left:40px ;
      color: #5dba07;
      width:40px;
      height: 40px;
      background-color: #e8fcd5;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    
    a>i:hover {
      background-color: #0aafe3;
      font-size: 30px;
      padding: 10px;
    
      color: white;
      transition: 0.8s ease-in-out;
      margin-bottom: 20px;
    }
  
    .g {
      width: 36%;
      margin: 0 auto;
      display:block;
    }
    
    .g2 {
      font-size: 35px;
      margin: 20px;
      color: white;
    }
  
    canvas {
      width: 80%;
      margin: 30px auto;
      border: 10px solid white;
    }

    #name {
        border: 5px solid #0aafe3;
        width: 414px;
        height: 45px;
        border-radius: 15px;
        display:block ;
        margin: 0px auto;
        font-size: 18px;
      }

      #Download {
        margin-top: 30px;
        width: 180px;
        height:35px;
        margin-left:20px ;
        margin-right: 20px;
        border: 5px solid #0aafe3;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 100px;
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: #000000;
        margin: 50px auto;
      }
  
    .footer {
      background-color: #0aafe3;
      padding: 40px;
      color: white;
      font-size: 10px;
    }
  }

  @media screen and (min-width:350px) and (max-width:500px) {

    .logo {
      width: 35%;
      margin-top: 50px;
      padding-left: 17px;
      padding-right: 17px;
    }
    
    .title1 {
      margin: 20px auto;
      font-size: 35px;
      background:linear-gradient(90deg,#5dba07,#0aafe3);
      width: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    a>i {
      font-size: 25px;
      padding: 10px;
      margin-right:25px ;
      margin-left:25px ;
      color: #5dba07;
      width:30px;
      height: 30px;
      background-color: #e8fcd5;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    
    a>i:hover {
      background-color: #0aafe3;
      font-size: 25px;
      padding: 10px;
    
      color: white;
      transition: 0.8s ease-in-out;
      margin-bottom: 20px;
    }
  
    .g {
      width: 40%;
      margin: 0 auto;
      display:block;
    }
    
    .g2 {
      font-size: 25px;
      margin: 20px;
      color: white;
    }
  
    canvas {
      width: 85%;
      margin: 30px auto;
      border: 8px solid white;
    }

    #name {
        border: 5px solid #0aafe3;
        width: 300px;
        height: 45px;
        border-radius: 15px;
        display:block ;
        margin: 0px auto;
        font-size: 18px;
      }

      #Download {
        margin-top: 20px;
        width: 180px;
        height:35px;
        margin-left:20px ;
        margin-right: 20px;
        border: 5px solid #0aafe3;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 100px;
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: #000000;
        margin: 50px auto;
      }
  
    .footer {
      background-color: #0aafe3;
      padding: 10px;
      color: white;
      font-size: 8px;
    }
  }